extends layout

block main
  if (user)
    .container
      h1 Hi, #{user}
      p You are already logged in.
      form(action='/logout', method='get')
        input.submit(type='submit', value='登出')
  else
    #choose_format
      button.format.login(onclick='showHide(event) ', style='font-weight:bold;') 
        span.button-text Sign In
      button.format.signup(onclick='showHide(event)', style='color:#ccc')
        span.button-text Sign Up

    // login_page
    .container.login_page
      form(action='/login', method='post')
        input.email(type='email', name='email', placeholder='E-mail', onfocus='removeText()',required='')
        input.password(type='password', name='password', onfocus='removeText()', placeholder='Password', required='')
        small.form-alert=message
        input.submit(type='submit', value='登入', onclick='')

    // signup_page
    .container.signup_page(style='display:none')
      form(action='/register', method='post')
        input.email(type='email', name='email', placeholder='E-mail', onfocus='removeText(event)', required='')
        input.password(type='password', name='password', placeholder='Password', onfocus='removeText(event)', required='')
        // <input type="text" id="comfirm_password" name="comfirm_password" placeholder="確認密碼" required>
        small.form-alert
        input.submit(type='submit', value='註冊')

    script(src='./js/browser-app.js')
